* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    width: 600px;
}

.left {
    flex: 3;
}

.right {
    flex: 7;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 40px;

}

.left h1 {
    padding-left: 30px;
    color: rgb(79, 70, 229);
}

.page {
    border-left: 1px solid gray;
    margin-bottom: 50px;
}

.page h1 {
    padding-left: 30px;
    margin-bottom: 0;
}

.page p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 30px;
    color: rgb(172, 169, 169);
    margin-top: 3px;
}

a {
    padding: 7px 18px;
    text-decoration: none;
    margin-left: 25px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.back {
    background-color: rgb(79, 70, 229);
    color: gainsboro;



}

.contact {
    background-color: gainsboro;
    color: rgb(79, 70, 229);



}