*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
.left{
    display: flex;
}
.container{
    
        margin: auto;
        display: flex;
        align-items: flex-start;
    
}
.left,
.right {
    padding: 0 20px 20px;
}

.left {
    border-right: 1px solid #e9ebef;
    color: #473edb;
}
.left p{
    color: hsla(251, 81%, 45%, 0.781);
    left:400px;
    top:200px;
    font-size:50px;
    font-family: Franklin Gothic Medium;
}
.p1{
    font-size: 50px;
    font-family: Franklin Gothic Medium;
}
.p2{
    font-size:15px;
    font-family:Bahnschrift SemiBold;
    color:	#ccc8c8;
}
.back{
    color: #fff;
    background-color: #473edb;
    
    
}
.contact{
    color: #473edb;
    background-color: #e0e7fe;


}